---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Portafolio Jeam Carlo C">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
		<h1 class="text-white text-5xl font-bold flex flex-row
		gap-x-4 pb-10"> 
		<img class="rounded-full size-12 mb-4" 
		src="/jeamC.jpeg" alt="Foto Jeam Carlo">

		Hey, soy Jeam Carlo
			<a href="https://www.linkedin.com/in/jeam-carlo-c%C3%A1rdenas-vargas-7537871b8/" 
			target="_blank" rel="noopener"
			class="flex justify-center items-center"><Badge>Buscando Pasantías</Badge></a>
		</h1>
		<h2 class="text-2xl text-wrap">
			<span>+15 años de experiencia.</span> <span class="text-yellow-200/90"> 
				Desarrollador Web y Creador de Contenido. </span> 
				<span class="text-red-100/90"> De Barcelona, España.</span> 
				<span class="opacity-85">Especializado en crear aplicaciones únicas.</span>
			</h2>
			<ul>
				<li>
			<a href="https://www.linkedin.com/in/jeam-carlo-c%C3%A1rdenas-vargas-7537871b8/" >
			</a>
				</li>
			</ul>
	
			</section>
	</main>
</Layout>

